<form action="/Usuario/Registro" method="post">

    <div class="form-group">
        <label for="UserName">Nombre de Usuario</label>
        <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Nombre Usuario">
    </div>

    <div class="form-group">
        <label for="Mail">Mail</label>
        <input type="email" class="form-control" id="Mail" name="Mail" placeholder="Ingrese su mail">
    </div>

    <div class="form-group">
        <label for="Password">Contraseña</label>
        <input type="password" class="form-control" id="Password" name="Password" placeholder="Ingrese su Contraseña">
    </div>


    <button type="submit" class="btn btn-primary">Crear</button>

</form>
