<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/chatBot.css" asp-append-version="true" />
    <title>Bot de Chat</title>
</head>
<body>

    <button class="chat-button" id="chatButton">👾</button>

    <div class="chat-window" id="chatWindow">
        <div class="chat-header">
            Chat
        </div>
        <div class="chat-body" id="chatBody">
            <div id="webchat" class="webchat"></div>
        </div>
    </div>



    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <script src="~/js/chatBot.js"></script>
</body>
</html>

<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
<script>
    (async function () {
        const userID = '2'
        const userName = '1'
        const locale ='en-US'

        const directLine = window.WebChat.createDirectLine({
            domain: `http://localhost:52881/v3/directline`, // Puerto de bot emulator
            webSocket: false
        });
       
        window.WebChat.renderWebChat(
            {
                directLine: directLine,
                userID: userID,
                username: userName,
                locale: locale,
                styleOptions: {
                    botAvatarInitials: 'BP',
                    userAvatarInitials: 'YO',
                    backgroundColor: '#F8F8F8'
                }
            },
            document.getElementById('webchat')
        );
    })().catch(err => console.error(err));
</script>
