<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/chatBot.css" asp-append-version="true" />
    <title>Bot de Chat</title>
</head>
<body>

    <button class="chat-button" id="chatButton">👾</button>

    <div class="chat-window" id="chatWindow">
        <div class="chat-header">
            Chat
        </div>
        <div class="chat-body" id="chatBody">
            <div id="webchat" class="webchat"></div>
        </div>
    </div>



    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <script src="~/js/chatBot.js"></script>
</body>
</html>

<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
<script>
    (async function () {
        const userID = '2'
        const userName = '1'
        const locale ='en-US'

        const directLine = window.WebChat.createDirectLine({
            domain: `http://localhost:52881/v3/directline`, // Puerto de bot emulator
            webSocket: false
        });
        const store = window.WebChat.createStore({}, ({ dispatch }) => next => action => {
            if (action.type === 'DIRECT_LINE/CONNECT_FULFILLED') {
                const cachedState = JSON.parse(localStorage.getItem('chatState'));
                if (cachedState) {
                    cachedState.activities.forEach(activity => {
                        dispatch({
                            type: 'DIRECT_LINE/INCOMING_ACTIVITY',
                            payload: { activity }
                        });
                    });
                }
            }

            if (action.type === 'DIRECT_LINE/INCOMING_ACTIVITY' || action.type === 'WEB_CHAT/SEND_POST_BACK') {
                const state = store.getState();
                localStorage.setItem('chatState', JSON.stringify({
                    activities: state.activities
                }));
            }

            return next(action);
        }); 
        window.WebChat.renderWebChat(
            {
                directLine: directLine,
                userID: userID,
                username: userName,
                locale: locale,
                store: store,
                styleOptions: {
                    botAvatarInitials: 'BP',
                    userAvatarInitials: 'YO',
                    backgroundColor: '#F8F8F8'
                }
            },
            document.getElementById('webchat')
        );
    })().catch(err => console.error(err));
</script>