<div id="webchat"></div>
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
<script>
    const directLine = window.WebChat.createDirectLine({
        secret: 'sad',
        domain: 'http://localhost:3978/api/messages',
    });

    window.WebChat.renderWebChat({
        directLine: directLine,
        userID: 'YOUR_USER_ID',
        username: 'YOUR_USERNAME',
        locale: 'es-ES',
        botAvatarInitials: 'Bot'
    }, document.getElementById('webchat'));
</script>
