<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-danger" asp-area="" asp-controller="Home" asp-action="Index">BotPeliculas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
            </ul>
            <ul class="navbar-nav">
                @if (Context.Session.GetString("UsuarioLogueado") != null)
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">@Context.Session.GetString("UsuarioLogueado")</a>
                    </li>
                    <li class="nav-item">
                        <form id="logoutForm" asp-area="" asp-controller="Usuario" asp-action="Logout" method="post" class="form-inline">
                            <button type="submit" class="nav-link btn btn-link text-white ">Cerrar Sesión</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-black fw-bold" asp-area="" asp-controller="Usuario" asp-action="Login">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black fw-bold" asp-area="" asp-controller="Usuario" asp-action="Registro">Registrarse</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>